---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Me">
  <h2 class="text-3xl text-cyan-400 mb-8">About Me</h2>

  <div
  class="mx-auto
         text-[#a1a1aa] leading-relaxed
         columns-1 md:columns-2
         gap-12
         [column-rule:1px_solid_rgba(125,211,252,0.25)]
         max-w-[clamp(40rem,80vw,72rem)]"
>
  <p>
    My name is Veronica Segovia. I was born in Caracas, Venezuela and am currently pursuing my studies 
    in the United States as a U.S. citizen. As a first-generation college student, woman, and member of an
    underrepresented group in STEM, my background has shaped how I approach science.
  
    <br></br>
  </p>

  <p>
    While also being neurodivergent, I am able to engage with complex systems and open-ended problems.
    I tend to think nonlinearly, explore unconventional connections, and sustain deep focus when working
    on research questions that interest me.
  
    <br></br>
  </p>

  <p>
    With endless nights of coding, debugging, and experimenting, I have developed a strong foundation in
    programming and problem-solving, fueled by reading research papers and books such as
    <em>Quantum Computation and Quantum Information</em>.
  
    <br></br>
  </p>

  <p>
    I aim to contribute work that is both rigorous and inclusive, and to help broaden participation
    in fields where access and representation remain uneven.
  
    <br></br>
  </p>

  <p>
    When not researching or coding, I enjoy playing piano, guitar and saxophone. I love to play videogames
    like Elden Ring, Persona 5, and the Legend of Zelda series. To help with my fitness and focus I also like
    weightlifting and cycling.
    
    <br></br>
  </p>

  <p>
    Thank you for visiting my site!
    <br></br>
    — Veronica
  </p>
</div>


  <div class="mt-10 flex justify-center">
    <img
      src={`${import.meta.env.BASE_URL}images/veronica.png`}
      alt="Portrait of Veronica Segovia"
      class="w-80 max-w-full rounded-xl border border-[#27272a]
            shadow-[0_0_30px_rgba(125,211,252,0.15)]"
    />
  </div>
</BaseLayout>
