---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact">
  <h2 class="text-3xl text-cyan-400 mb-6">Contact</h2>

  <ul class="space-y-4 text-gray-300">
    <li>Email: <a href="mailto:Veronica.Segovia5084@gmail.com" class="text-cyan-400">Veronica.Segovia5084@gmail.com</a></li>
    <br>
    <li>GitHub: <a href="https://github.com/ftalxx" class="text-cyan-400">github.com/ftalxx</a></li>
    <br>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/veronica-segovia" class="text-cyan-400">LinkedIn</a></li>
  </ul>
</BaseLayout>
